



body {
    font-family: 'Indie Flower', cursive;
    background: url(../images/train-station-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    background-image: url("../images/train.png");
    /* background-image: url("../images/bullet-train-logo.png"); */
    background-repeat: no-repeat;
    border: solid 3px steelblue;
    background-color: #999;
    /* height: 150px; */
    margin-top: 10px;
    text-align: center;
  }

  img {
    float: right;
    display: relative;
    margin: 10px 10px 0 -100px;
    width: 100px;
  }
 